{% load staticfiles %}
<table cellpadding="10" align="left" style="margin-left: 30px; font-weight: bolder; font-size: 20px">
    <tr><td><a href="#" style="color: red; text-decoration: underline"> Find </a></td></tr>
    <tr><td></td></tr>
    <tr><td><a href="{% url 'display_donors' %}" style="color: brown"> -Donor </a></td></tr>
    <tr><td><a href="#" style="color: brown"> -Blood Banks </a></td></tr>
    <tr><td><a href="#" style="color: brown"> -Hospitals </a></td></tr>
    <tr><td><a href="#" style="color: brown"> -Clinics </a></td></tr>
    <tr><td><a href="{% url 'bloodrequest' %}" style="color: brown"> -Request For Blood </a></td></tr>
</table>


