<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Blood Donar</title>
  </head>
  <body>
    {% include 'common/head.html' %}
    <h4 style="text-align: center">Welcome Admin</h4>
    <table border="0">
        <tr>
            <td>
            <table cellpadding="5" align="left" style="margin-left: 30px; font-weight: bolder; font-size: 20px">
                <tr><td><a href="#" style="color: red; text-decoration: underline"> Find </a></td></tr>
                <tr><td></td></tr>
                <tr><td><a href="{% url 'showrequests' %}" style="color: brown"> -Inbox </a></td></tr>
                <tr><td><a href="{% url 'write_organization_details' %}" style="color: brown"> -Add Organization </a></td></tr>
                <tr><td><a href="#" style="color: brown"> -View Organization </a></td></tr>
                <tr><td><a href="#" style="color: brown"> -Delete Organization </a></td></tr>
                <tr><td><a href="{% url 'homepage' %}" style="color: brown"> -Logout </a></td></tr>
            </table>
            <td style="width: 80%;">
                <table border="0" style="margin-left: 280px" cellpadding="10">
                    <tr style="text-align: center; height: 50px; text-decoration: underline; font-size: 20px"><th colspan="2"> Organization Registration Page </th></tr>
                    <tr>
                        <td> Name : </td>
                        <td><input type="text" required name="o_name"></td>
                    </tr>
                    <tr>
                        <td> Username : </td>
                        <td><input type="text" required name="o_userid"></td>
                    </tr>
                    <tr>
                        <td> Password : </td>
                        <td><input type="password" required name="o_password"></td>
                    </tr>
                    <tr>
                        <td> Type : </td>
                        <td>
                            <select name="o_type">
                                <option selected disabled> Select </option>
                                <option> Blood Bank </option>
                                <option> Hospital </option>
                                <option> Clinic </option>
                            </select>
                        </td>
                    </tr>
                    <tr style="text-align: center; height: 50px"><th colspan="2"><button class="btn btn-primary btn-sm" type="submit"> Register </button></th></tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>